.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("/static/img/loader.gif") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
    overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}
.bg-dark{
    background-color: #84091a !important;
}
.has-error{
    color:#84091a;
}
.has-emp-error{
    border: solid 1px #84091a;
}
.errorlist {
    list-style: none;
    margin-left:-5%;
    color:crimson;
}
.errorlist li::before {
   content:"*"
}
.signup{
    color:white;
    background-color:tomato;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
}
.subbtn{
    background-color:tomato;
    color:white;
    align-items: center;
}
.jumbotron{
        background-color:#afb2b5 !important;
    }
 .innerheader{
    background-color:tomato;
    color:white;
 }   